@font-face {
  font-family: "myfont";
  src: url("fonts/myfont.ttf") format("truetype");
}

body{
  margin:0;
}

.container {
  max-width: 65em;
  margin: auto;
}

.button{
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.button a{
  flex:1;
  font-size: 0.7rem;
  background: #990000 ;
  border: 2px solid #FFCC00;
  color: white;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: bold;
}

.button a:link {
  color: white;
}

.button a:visited {
  color: white;
}

.button a:hover {
  background: #f27575;
}

.button a:active {
  background: #FFCC00;
  color: #990000;
}

h1{
  font-family: "myfont", sans-serif;
  text-align: center;
  color: #990000 ;
  font-size: 1.5rem;
  margin-top:1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.34rem;
}

h2{
  color:#990000 ;
  font-size: 0.9rem; 
	text-align: center;
	border-radius: 5px; 
  font-family: "myfont", sans-serif;
}

p{
  background:#990000 ;
  border: 2px solid #FFCC00;
  color:white;
  font-weight: bold; 
  font-size: 0.65rem; 
	text-align: center;
	border-radius: 5px;
  padding:1rem;    
}

.logo{
  width: 100%;       
  max-width: 220px;  
  height: auto;      
  margin: 0 auto;     
  object-fit: contain;
}

.media-section {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

video{
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: 6px;
  background-color: #f5f5f5;
  margin-top: 0.5em;
}

.media-section {
    grid-column: 1 / -1;  
  }

.media-section video {
    width: 100%;
    max-width: none;     
    height: auto;
    display: block;
  }

@media (min-width: 45em) {
  
  .button {
    flex-direction: row;
    gap:1rem;
    padding:1rem;   
  }

  .button a {
    padding:1rem; 
    font-size:1rem;     
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  h1{
    font-size: 2rem;
  }

  h2{
    font-size:1.2rem;
  }

  #homep {
    grid-column:1/-1;
  }

  #homeh2 {
    grid-column:1/-1;
  }

  p{
    font-size: 1rem;
  }
  
}

#Btn1{
    grid-column:1/-1;
    grid-row-start:3;
    grid-row-end:4;
}

.logo{
  width: 100%;       
  max-width: 220px;  
  height: auto;      
  margin: 0 auto;     
  object-fit: contain;
}






